html {
  font-family: "Noto+Sans+KR";
  overflow: auto;
  text-align: center;
}
body {
  width: 100%;
  display: block;
  margin: 0px;
  /*브라우저가 임의로 body margin을 설정해서 해둔것*/
}
.wrapper {
  font-family: "Noto+Sans+KR";
  text-align: center;
  display: block;
}
/* 네비 */
.navi {
  display: inline-block;
  width: 100%;
  height: 5em;
  box-shadow: 0 3px 6px -3px rgba(47, 47, 47, 0.16);
  background-color: #ffffff;
  text-align: center;
  margin: auto;
}
.logo2 {
  height: 0;
}
.navi_text {
  height: 3em;
  margin-top: 2em;
}
.navi_content {
  /* margin-left: -140px; */
  /* font-weight: bolder; */
  width: 100%;
  text-align: center;
  display: block;
}
.logo {
  padding-left: 0.2em;
  margin: 0 auto;
  height: 2em;
  margin: 1.5em;
}
.logo:hover {
  cursor: pointer;
}
/* 네비 */
/* 
.cancel_button {
  width: 82px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background-color: #efefef;
  font-family: NanumGothic;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
  margin: 20px;
}
#submit_button {
  width: 82px;
  height: 56px;
  border-radius: 28px;
  border: none;
  box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
  background-color: #6b50db;
  font-family: Noto + Sans + KR;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin: 20px;
} */
.registration {
  width: 100%;
  text-align: center;
}
.registration_content {
  width: 40%;
  margin: 0 30%;
  margin: auto;
  text-align: center;
}
.name {
  margin: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
}
input {
  border: 1.5px solid #dddddd;
}
input:focus {
  outline: none;
  border: 1.5px solid #3ca1b1;
}
textarea {
  border: 1.5px solid #dddddd;
}
textarea:focus {
  outline: none;
  border: 1.5px solid #3ca1b1;
}
.table_input {
  height: 5em;
}
.short_input {
  padding: 0 1em;
  width: 30%;
  height: 3em;
  border-radius: 1.5em;
  margin: 1.5em;
}
.money_button {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 35%;
  width: 30%;
  height: 3em;
  border: none;
  border-radius: 1.5em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  color: black;
}
.money_button:hover {
  background-color: #ca3172;
  color: white;
}
.money_button > div {
  margin: auto;
}
.foot {
  height: 4em;
}
@media (max-width: 768px) {
  .navi {
    /* padding: 45px; */
    width: 100%;
    height: 3.5em;
    box-shadow: 0 3px 6px -3px rgba(47, 47, 47, 0.16);
    /* 언젠가 밑에만 생기게 바꾸고 만다>>바꿈ㅋ */
    background-color: #ffffff;
    font-weight: bolder;
    /* 아래 15px 마진 줘서 30px 여백 줬는데 맨 위도 30px 떨어지게 하고 싶어서 여기에 15px 줌 */
  }
  .logo2 {
    height: 1.3em;
    margin: 1.1em;
  }
  .navi_content {
    width: 0;
    height: 0;
    font-size: 0;
  }
  .registration_content {
    width: 90%;
    margin: 0 5%;
    margin: auto;
    text-align: center;
  }
  .big_input {
    margin: 2em 1em;
  }
}
