html {
  font-family: "Noto+Sans+KR";
  overflow: auto;
  text-align: center;
}
body {
  width: 100%;
  display: block;
  margin: 0px;
  /*브라우저가 임의로 body margin을 설정해서 해둔 것*/
}
.wrapper {
  font-family: "Noto+Sans+KR";
  text-align: center;
  display: block;
}
/* 네비 */
.navi {
  display: inline-block;
  width: 100%;
  height: 5em;
  box-shadow: 0 3px 6px -3px rgba(47, 47, 47, 0.16);
  background-color: #ffffff;
  text-align: center;
  margin: auto;
}
.logo2 {
  height: 0;
}
.navi_text {
  height: 3em;
  margin-top: 2em;
}
.navi_content {
  /* margin-left: -140px; */
  font-weight: bolder;
  width: 16%;
  margin: 0 42%;
  display: flex;
}
.navi_content:hover {
  cursor: pointer;
}
.logo {
  height: 2em;
  margin: 1.5em;
}
/* 네비 */
.head {
  display: flex;
  margin: 20px 0 30px 400px;
  padding: 40px;
  text-align: left;
}
.title_wrapper {
  display: block;
}
.title {
  padding: 12px 0;
  font-family: NanumGothic;
  font-size: 45px;
  font-weight: 800;
  display: flex;
  color: #191919;
}
.explain {
  padding: 12px 0;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: bold;
  color: #656565;
}

.registration {
  width: 100%;
  text-align: center;
}
.registration_content {
  width: 40%;
  margin: 0 30%;
  margin: auto;
  text-align: center;
}
.name {
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
}
table {
  width: 100%;
  font-family: Noto + Sans + KR;
  font-size: 0.8em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}
.table_head {
  padding-top: 2em;
  padding-left: 2em;
}
input {
  border: 1.5px solid #dddddd;
}
input:focus {
  outline: none;
  border: 1.5px solid #3ca1b1;
}
textarea {
  border: 1.5px solid #dddddd;
}
textarea:focus {
  outline: none;
  border: 1.5px solid #3ca1b1;
}
.table_input {
  height: 5em;
}
.short_input {
  padding: 0 1em;
  width: 80%;
  height: 3em;
  border-radius: 1.5em;
  margin: 0 1em;
}
.long_input {
  padding: 0 1em;
  width: 90%;
  height: 3em;
  border-radius: 1.5em;
  margin: 0 1em;
}
.big_input {
  padding: 1em;
  width: 90%;
  height: 10em;
  border-radius: 1.5em;
  margin: 0 1em;
  /* 자꾸 표에 이상한 마진이 생기는데 대체 왜 생기는지 알수없어서 그냥... 내가 조정함. */
}
.button {
  text-align: right;
  padding-top: 1em;
}
.cancel_button {
  width: 5em;
  height: 3em;
  border-radius: 1.5em;
  border: none;
  background-color: #efefef;
  font-family: Noto + Sans + KR;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #404040;
  margin: 0.5em;
}
#submit_button {
  width: 5em;
  height: 3em;
  border-radius: 1.5em;
  border: none;
  box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
  background-color: #ca3172;
  font-family: Noto + Sans + KR;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin: 0.5em;
}
.foot {
  height: 6em;
}
@media (max-width: 768px) {
  .navi {
    /* padding: 45px; */
    width: 100%;
    height: 3.5em;
    box-shadow: 0 3px 6px -3px rgba(47, 47, 47, 0.16);
    /* 언젠가 밑에만 생기게 바꾸고 만다>>바꿈ㅋ */
    background-color: #ffffff;
    font-weight: bolder;
    /* 아래 15px 마진 줘서 30px 여백 줬는데 맨 위도 30px 떨어지게 하고 싶어서 여기에 15px 줌 */
  }
  .logo2 {
    height: 1.3em;
    margin: 1.1em;
  }
  .navi_content {
    width: 0;
    height: 0;
    font-size: 0;
  }
  .registration_content {
    width: 90%;
    margin: 0 5%;
    margin: auto;
    text-align: center;
  }
  .short_input {
    width: 70%;
  }
  .long_input {
    width: 83%;
  }
  .big_input {
    width: 83%;
  }
}

/*.search_button{
    width: 30px;
    height: 30px;
    padding: 10px;
    background: url( "https://ifh.cc/g/45KSbZ.png" );
    background-size: 30px;
    border: none;
    cursor: pointer;
}
.one_search{
    margin: 30px;
}
.input_box{
    display: flex;
}
input{
    width: 440px;
    height: 63px;
    font-size : 18px;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
    border-radius: 32px;
    background-color: #efefef;
    padding: 0 0 0 28px;
    margin: 0 30px;
}
.search_bar{
    width: 1920px;
    font-weight: bolder;  */
/* position: relative; */
/* margin: 0 135px;
}
.search_box{
    margin: 15px;
}
.name{
    width: 291px;
    height: 58px;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #6b50db;
    border-radius: 17px 17px 0 0;
}
.name_text{
    color:white;
    position: absolute;
    margin: 18px 0px 0px 36px;
}
.content{
    width: 291px;
    height: 242px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #ffffff;
    border-radius: 0 0 17px 17px;
    text-align: center;
    margin: 20px auto 20px auto;
}
.incontent{
    padding:auto;
    margin-top: -18px; */
/* 위에 absolute 걸고 padding 18px 넣으면 name이랑 incontent랑 떨어져서 -18px함 왜 그런지는 모르겠음 */
/* }
.content>img{
    margin:auto 0 auto 0;
}
.search_table{
    text-align: left;
    margin: auto;
}
td{
    padding: 10px;
    font-size: 16px;
}
.gray{
    color: #606060;
}
.wish_button{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    bottom: 7%;
    right: 5%;
    width: 370px;
    height: 90px;
    border: none;
    border-radius: 44px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff60dd;
    color:white;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
}
.wish_button>div{
    padding-top:31px;

} */
