/* html{
    font-family: 'Nanum Gothic', sans-serif;
    overflow: auto;
    text-align: center;
} */
body{
    float:center;
}
.wrapper{
    width: 320px;
    height: 480px;
    background-color: blue;
}
.navi{
    width: 320px;
    height: 50px;
    background-color: red;
}