.wrapper{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    width: 1920px;
    display: block;
}
.navi{
    height: 1920px;
    height: 120px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    font-weight: bolder;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}
.navi_content{
    /* margin-left: -140px; */
    font-size: 30px;
    display: flex;
    text-align: center;
}
.navi_content:hover{
    cursor:pointer;
}
.head{
    display: flex;
    margin: 10px auto 10px 160px;
    padding: 40px;
    text-align: left;
}
.head_button{
    background: none;
    border: none;
    margin-top: 200px;
}
.title_wrapper{
    display: flex;
    
}
.title{
    padding: 20px 0;
    font-family: NanumGothic;
    font-size: 45px;
    font-weight: 800;
    display: block;
    color: #191919;
    margin-left: 40px;
}
.explain{
    padding: 12px 0;
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: bold;
    color: #656565;
}
.buttons{
    margin-left: 610px;
    display: flex;
}
.box_wrapper{
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
}
.search_bar{
    width: 1920px;
    font-weight: bolder;
    /* position: relative; */
    margin: 0 135px;
}
.search_box{
    margin: 15px;
}
/*기본박스*/
.name{
    width: 480px;
    height: 58px;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #6b50db;
    border-radius: 17px 17px 0 0;
}
.name_text{
    color:white;
    position: absolute;
    margin: 18px 0px 0px 36px;
}
.content{
    width: 480px;
    height: 430px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #ffffff;
    border-radius: 0 0 17px 17px;
    text-align: center;
    margin: 20px auto 20px auto;
}
.incontent{
    padding:auto;
    margin-top: -18px;
    /* 위에 absolute 걸고 padding 18px 넣으면 name이랑 incontent랑 떨어져서 -18px함 왜 그런지는 모르겠음 */
}
.content>img{
    margin:auto 0 auto 0;
}
/*다된박스*/
.finish_name{
    width: 480px;
    height: 58px;
    font-size: 20px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #ffdc31;
    border-radius: 17px 17px 0 0;
}
.finish_name_text{
    color:white;
    position: absolute;
    margin: 18px 0px 0px 36px;
}
.finish_content{
    width: 480px;
    height: 430px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #fffcea;
    border-radius: 0 0 17px 17px;
    text-align: center;
    margin: 20px auto 20px auto;
}
.finish_incontent{
    padding:auto;
    margin-top: -18px;
    /* 위에 absolute 걸고 padding 18px 넣으면 name이랑 incontent랑 떨어져서 -18px함 왜 그런지는 모르겠음 */
}
.finish_content>img{
    margin:auto 0 auto 0;
}
.finish_button{
    width: 226px;
    height: 56px;
    border-radius: 28px;
    box-shadow: 0 3px 6px 0 rgba(47, 47, 47, 0.16);
    background-color: #ffdc31;
}
/*으아악*/
.head_table{
    text-align: left;
    margin: auto;
}
td{
    padding: 10px;
    font-size: 16px;
}
.gray{
    color: #606060;
}
.gift_button{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    bottom: 7%;
    right: 5%;
    width: 285px;
    height: 90px;
    border: none;
    border-radius: 44px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff60dd;
    color:white;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
}
.gift_button>div{
    padding-top:31px;
}