<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
    <link rel="stylesheet" type="text/css" href="static/gift_style.css">
    <!-- <link rel="stylesheet" type="text/css"
        href="/Users/chyo0903/Desktop/desktop-tutorial/sparta/surprise/static/gift_style.css"> -->
    <!--서버에서 돌릴 때는 static/search_style.css-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
    <script>
        window.onload = getUserDataById();

        function getUserDataById() {
            let user = window.location.href.split('=')[1];
            $.ajax({
                type: "GET",
                url: "/yourgiftprofile",
                data: { user_give: user },
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log('프로필됨');
                        let owners = response['owners'];
                        make_button(user);
                        for (let i = 0; i < owners.length; i++) {
                            make_head(owners[i]['name'], owners[i]['birthday'], owners[i]['phonenumber']);
                        }
                        //나중에if문 걸어서 모인금액에 따라 바뀌게 이런거 만들자
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                }
            })
            // $.ajax({
            //     type: "GET",
            //     url: "/howmuchpay",
            //     data: { user_give: user },
            //     success: function (response) {
            //         if (response['result'] == 'success') {
            //             console.log('선물됨');
            //             let gifts = response['gifts'];
            //             console.log(gifts);
            //             for (let j = 0; j < gifts.length; j++) {
            //                 make_card(gifts[j]['product_name'], gifts[j]['price'], gifts[j]['story'], user, gifts[j]['_id']);
            //             }
            //             //나중에if문 걸어서 모인금액에 따라 바뀌게 이런거 만들자
            //         } else {
            //             alert('선물을 불러오지 못했습니다');
            //         }
            //     }
            // })
            $.ajax({
                type: "GET",
                url: "/yourgiftlist",
                data: { user_give: user },
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log('선물됨');
                        let gifts = response['gifts'];
                        console.log(gifts);
                        for (let j = 0; j < gifts.length; j++) {
                            let price = Number(gifts[j]['price']);
                            let gather = Number(gifts[j]['gathered_price']);
                            let percent = (gather/price*100).toFixed(0);
                            let bar_percent = percent*1.84;
                            // let cut_percent= percent.split('.')[0];
                            make_card(gifts[j]['product_name'], gifts[j]['price'], gifts[j]['story'], user, gifts[j]['_id'], gifts[j]['gathered_price'], percent, bar_percent);
                        }
                        //나중에if문 걸어서 모인금액에 따라 바뀌게 이런거 만들자
                    } else {
                        alert('선물을 불러오지 못했습니다');
                    }
                }
            })
        }

        //function listing() {
        // 1. 리뷰 목록을 서버에 요청하기
        // 2. 요청 성공 여부 확인하기
        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
        //     $.ajax({
        //         type: "GET",
        //         url: "/profilelist",
        //         data: {},
        //         success: function (response) {
        //             if (response['result'] == 'success') {
        //                 let profiles = response['profiles'];
        //                 for (let i = 0; i < profiles.length; i++) {
        //                     make_card(profiles[i]['name'], profiles[i]['birthday'], profiles[i]['phonenumber']);
        //                 }
        //             } else {
        //                 alert('프로필을 불러오지 못했습니다');
        //             }
        //         }
        //     })
        // }
        function make_button(user) {
            let button_html =
                `
            <a class="gift_button" style="text-decoration:none" onclick="window.location.href = '/giftsubmit?id=${user}'">
                <img src='https://ifh.cc/g/szLbb3.png' style="margin:23px 23px 23px 40px; width: 40px; height: 41px;">
                <div>선물 추가하기</div>
            </a>
            `
            $('#button_space').append(button_html);
        }
        function make_head(name, birthday, phonenumber) {
            // let innerWidth = 100;
            let temp_html = `
            <img style="width:180px; height:170px;" src='https://ifh.cc/g/wtDwGt.png'></a>
                <div class="title">
                    <div style="margin-bottom: 20px;">${name}</div>
                    <table class="head_table">
                        <tr>
                            <td>생일:</td>
                            <td class="gray">${birthday}</td>
                        </tr>
                        <tr>
                            <td>전화번호:</td>
                            <td class="gray">${phonenumber}</td>
                        </tr>
                    </table>
                </div>
            `;
            $('#head').append(temp_html);
        }
        // function getInnerBarStyle() {
        //     return "width: 100px; height: 5px; border: 1px solid black;"
        // }
        function make_card(product_name, price, story, user, gift_id, gathered_price, percent, bar_percent) {
            let card_html = `
            <div class="search_box">
                    <div class="name">
                        <p class="name_text">${product_name}</p>
                    </div>
                    <div class="content">
                        <div class="incontent">
                            <img src='https://ifh.cc/g/la7ptz.png' style="margin:20px;">
                            <div class="percent">${percent}%</div>
                            <div class="space"></div>
                            <div class="bar">
                                <div class="inner-bar" style="width:${bar_percent}px;height: 17px;background-color: #6b50db"></div>
                            </div>
                            <div class="space"></div>
                            <div class="priced">
                                <span style="color:#6b50db;">${gathered_price}</span>
                                <span style="color:#969696;">/${price}</span>
                            </div>
                            <div class="space"></div>
                            <div class="gift_story">
                                ${story}
                            </div>
                            <a class="money_button" style="text-decoration:none"
                                onclick="window.location.href = '/giftpay?id=${user}&gift=${gift_id}'">
                                <div>선물하기</div>
                            </a>
                        </div>
                    </div>
                </div>
            `
            let finish_html = `
            <div class="search_box">
                    <div class="finish_name">
                        <p class="name_text">${product_name}</p>
                    </div>
                    <div class="finish_content">
                        <div class="incontent">
                            <img src='https://ifh.cc/g/vl8raj.png' style="margin:20px;">
                            <div class="percent">100%</div>
                            <div class="space"></div>
                            <div class="bar">
                                <div class="finish_inner-bar"></div>
                            </div>
                            <div class="space"></div>
                            <div class="priced">
                                <span style="color:#ff60dd;">${price}</span>
                                <span style="color:#6b50db;">/${price}</span>
                            </div>
                            <div class="space"></div>
                            <div class="gift_story">
                                ${story}
                            </div>
                            <a class="finish_money_button" style="text-decoration:none">
                                <div>선물 달성!</div>
                            </a>
                        </div>
                    </div>
                </div>
            `
            if (percent==100){
                $('#box').append(finish_html);
            }else{
                $('#box').append(card_html);
            }
        }
    </script>

</head>

<body>
    <div class="wrapper">
        <div class="navi">
            <div class="navi_content" onclick="window.location.href = '/'">
                <img style="max-width:50px; margin: 35px 15px 35px auto;" src='https://ifh.cc/g/LskOlA.png'></a>
                <div style="margin: 40px auto 40px 15px;">위시리스트</div>
            </div>
        </div>
        <div class="head">
            <div class="title_wrapper" id="head">

            </div>
            <div class="buttons">
                <button class="head_button">프로필 수정하기</button>
                <button class="head_button">프로필 삭제하기</button>
                <button class="head_button">프로필 공유하기</button>
            </div>
        </div>
        <div class="search_bar">
            <div class="box_wrapper" id="box">
                <!-- <div class="search_box">
                    <div class="name">
                        <p class="name_text">선물 이름</p>
                    </div>
                    <div class="content">
                        <div class="incontent">
                            <img src='https://ifh.cc/g/la7ptz.png' style="margin:20px;">
                            <div class="percent">0%</div>
                            <div class="space"></div>
                            <div class="bar">
                                <div class="inner-bar"></div>
                            </div>
                            <div class="space"></div>
                            <div class="priced">
                                <span style="color:#6b50db;">89000</span>
                                <span style="color:#969696;">/0</span>
                            </div>
                            <div class="space"></div>
                            <div class="gift_story">
                                저는 반지하 자취방에서 살고 있습니다. 창문 밖에 바로 벽이 있어서 환기가 안되고 공기가 안 좋아요. 금방 습해집니다. 공기청정기를 선물로 받으면 정말 좋을
                                것 같아요.
                            </div>
                            <a class="money_button" style="text-decoration:none"
                                onclick="window.location.href = '/giftsubmit?id=${user}'">
                                <div>선물하기</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="search_box">
                    <div class="finish_name">
                        <p class="name_text">선물 이름</p>
                    </div>
                    <div class="finish_content">
                        <div class="incontent">
                            <img src='https://ifh.cc/g/vl8raj.png' style="margin:20px;">
                            <div class="percent">100%</div>
                            <div class="space"></div>
                            <div class="bar">
                                <div class="finish_inner-bar"></div>
                            </div>
                            <div class="space"></div>
                            <div class="priced">
                                <span style="color:#ff60dd;">89000</span>
                                <span style="color:#6b50db;">/89000</span>
                            </div>
                            <div class="space"></div>
                            <div class="gift_story">
                                저는 반지하 자취방에서 살고 있습니다. 창문 밖에 바로 벽이 있어서 환기가 안되고 공기가 안 좋아요. 금방 습해집니다. 공기청정기를 선물로 받으면 정말 좋을
                                것 같아요.
                            </div>
                            <a class="finish_money_button" style="text-decoration:none"
                                onclick="window.location.href = '/giftsubmit?id=${user}'">
                                <div>선물 달성!</div>
                            </a>
                        </div>

                    </div>
                </div> -->


            </div>
        </div>
    </div>
    <div id="button_space">

    </div>
</body>

</html>