<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선물 결제</title>
    <link rel="stylesheet" type="text/css" href="static/payment_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
    <script type="text/javascript">
        function do_pay() {
            // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
            let get = window.location.href.split('=')[1];
            let user = get.split('&')[0];
            let gift_id = window.location.href.split('=')[2];
            console.log(gift_id)
            let present = $('#present').val();
            let giver_name = $('#giver_name').val();
            let giver_ph = $('#giver_ph').val();
            let password = $('#password').val();
            let password_again = $('#password_again').val();
            let message = $('#message').val();

            if (present == '') {
                alert('선물할 금액을 입력해주세요');
                $('#present').focus();
                return;
            } else if (giver_name == '') {
                alert('이름 입력해주세요');
                $('#giver_name').focus();
                return;
            } else if (giver_ph == '') {
                alert('전화번호를 입력해주세요');
                $('#giver_ph').focus();
                return;
            } else if (password_again == '') {
                alert('비밀번호 재입력해주세요');
                $('#password_again').focus();
                return;
            } else if (password_again != password) {
                alert('비밀번호와 재입력한 번호가 일치하지 않습니다.');
                $('#password_again').focus();
                return;
            }
            // 3. POST /reviews 에 저장을 요청합니다.
            $.ajax({
                type: "POST",
                url: "/giftpay",
                data: { present_give: present, giver_name_give: giver_name, giver_ph_give: giver_ph, password_give: password, message_give: message, user_give:user, gift_id_give: gift_id},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.href = `/giftprofile?id=${user}`;
                        // 나중에 선물창으로 넘겨줘
                    }
                }
            })
        }
    </script>


</head>

<body>
    <div id="wrapper">
        <div class="navi" class="box">
            <div class="navi_content" onclick="window.location.href = '/'">
                <img style="max-width:50px; margin: 35px 15px 35px auto;" src='https://ifh.cc/g/LskOlA.png'></a>
                <div style="margin: 40px auto 40px 15px;">선물하기</div>
            </div>
        </div>
        <!-- <div class="head">
            <div class="title_wrapper">
                <div class="title">
                    <img style="width:45px; height:45px; margin: 5px 20px 0 0;" src='https://ifh.cc/g/6Mozy1.png'>
                    <div>선물하기</div>
                </div>
                <div class="explain">
                    모금 100%가 달성된 선물은 배송됩니다.
                    <br>기간 내에 달성되지 않은 선물에 모금된 금액은 수수료를 제외하고
                    <br>선물 받은 분의 계좌로 입금됩니다.
                </div>
            </div>
        </div> -->
        <div class="registration">
            <div class="registration_content">
                <table>
                    <tr>
                        <td colspan="2" class="table_head">선물할 가격</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="short_input" id="present">원</td>
                    </tr>
                    <tr>
                        <td class="table_head">산물하는분 이름</td>
                        <td class="table_head">전화번호</td>
                    </tr>
                    <tr class="table_input">
                        <td><input class="short_input" id="giver_name"></td>
                        <td><input class="short_input" id="giver_ph"></td>
                    </tr>
                    <tr>
                        <td class="table_head">프로필 수정 비밀번호</td>
                        <td class="table_head">비밀번호 확인</td>
                    </tr>
                    <tr>
                        <td><input class="short_input" id="password"></td>
                        <td><input class="short_input" id="password_again"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="table_head">메세지</td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea class="big_input" id="message"></textarea>
                    </tr>

                </table>
                <a class="money_button" style="text-decoration:none"
                    onclick=do_pay()>
                    <div>선물하기</div>
                </a>
            </div>
        </div>
        <div class="foot"></div>
        <!-- <div class="navi">
        <div class="box_wrapper">
            <div class="input_box">
                <div style="margin: 35px 10px 35px auto;">
                    <a href=""><img style="max-width:50px;" src='https://ifh.cc/g/LskOlA.png'></a>
                    위시리스트 등록하기
                </div>
            </div>
        </div>
    </div> -->
        <!-- <div class="search_bar">
            <div class="box_wrapper">

            </div>
        </div>
        <img style="min-width:50px; max-width: 70px;" scr='https://ifh.cc/g/51HFMJ.png'>
    </div> -->
</body>

</html>