<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    
</head>
<style>
    .swiper-container {
        width: 550px;
        height: 380px;
        border: 5px solid silver;
        border-radius: 7px;
        box-shadow: 0 0 20px #ccc inset;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items: center;
        /* 위아래 기준 중앙정렬 */
        justify-content: center;
        /* 좌우 기준 중앙정렬 */
    }

    .swiper-slide img {
        box-shadow: 0 0 5px #555;
    }
</style>

<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0723.jpg"></div>
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0606.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0372.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0394.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0298.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0353.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0720.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0236.jpg"></div>
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0660.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0517.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0278.jpg"></div>
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0719.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0535.jpg"></div>
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0706.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0733.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0275.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0678.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0067.jpg"></div>
            <div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0299.jpg"></div>
            <div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0669.jpg"></div>
            <div class="swiper-slide"><img src="https://ktsmemo.cafe24.com/p/0777.jpg"></div>
            <div class="swiper-slide" style="font-size:50pt;">- 끝 -</div>
        </div>
    </div>
    <div style="text-align:center; margin-top:5px;">사진 갤러리</div>
    
</body>

</html>