<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기프트비 선물 결제</title>
    <link rel="stylesheet" type="text/css" href="static/enter_password_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
    <script type="text/javascript">
        // window.onload = getPasswordById();
        // function getPasswordById() {
            
        // }

        function pass() {
            let user = window.location.href.split('=')[1];
            var jelly;
            $.ajax({
                type: "GET",
                url: "/identified?title_give=봄날은간다",
                data: {user_give: user},
                async: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        // alert(response);
                        console.log('프로필됨');  
                        let cookie = response['passed'];
                        jelly = cookie[0]['password'];
                    } else {
                        alert('서버에 오류가 발생했습니다');
                    }
                }
            })
            let pass = $('#topass').val();
            let giver_name = $('#giver_name').val();
            if ($('input:checkbox[id="whoru"]').is(":checked") == false) {
                alert('본인확인을 해주세요');
                $('#whoru').focus();
                return;
            } else if (pass == '') {
                alert('비밀번호를 입력하세요');
                $('#topass').focus();
                return;
            } else if (pass != jelly) {
                alert('비밀번호가 틀렸습니다');
                $('#topass').focus();
                return;
            }
            window.location.href = `/giftsubmit?id=${user}`
        }
    </script>


</head>

<body>
    <div id="wrapper">
        <div class="navi">
            <div class="navi_content" onclick="window.location.href = '/'">
                <img src='static/logo3.png' class="logo"></a>
            </div>
            <div>
                <a href="">
                    <img class="logo2" src='static/logo2.png'>
                </a>
            </div>
        </div>
        <!-- <div class="head">
            <div class="title_wrapper">
                <div class="title">
                    <img style="width:45px; height:45px; margin: 5px 20px 0 0;" src='https://ifh.cc/g/6Mozy1.png'>
                    <div>선물하기</div>
                </div>
                <div class="explain">
                    모금 100%가 달성된 선물은 배송됩니다.
                    <br>기간 내에 달성되지 않은 선물에 모금된 금액은 수수료를 제외하고
                    <br>선물 받은 분의 계좌로 입금됩니다.
                </div>
            </div>
        </div> -->
        <div class="registration">
            <div class="registration_content">
                <div class="name">선물 추가 비밀번호</div>
                <div class="check">
                    저는 이 프로필을 만든 본인입니다<input type="checkbox" id="whoru">
                </div>
                <div>
                    <input class="short_input" id="topass" placeholder="비밀번호 입력" type="password">
                </div>
                <a class="money_button" style="text-decoration:none" onclick="pass()">
                    <div>다음</div>
                </a>
            </div>
        </div>
        <div class="foot"></div>
        <!-- <div class="navi">
        <div class="box_wrapper">
            <div class="input_box">
                <div style="margin: 35px 10px 35px auto;">
                    <a href=""><img style="max-width:50px;" src='https://ifh.cc/g/LskOlA.png'></a>
                    위시리스트 등록하기
                </div>
            </div>
        </div>
    </div> -->
        <!-- <div class="search_bar">
            <div class="box_wrapper">

            </div>
        </div>
        <img style="min-width:50px; max-width: 70px;" scr='https://ifh.cc/g/51HFMJ.png'>
    </div> -->
</body>

</html>