<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="주고 싶은 선물:기프트벅"/>
    <meta property="og:description" content="어쩌고저쩌고 어쩌고저쩌고" />
    <meta property="og:image" content="{{ url_for('static', filename='birthday.jpg') }}" />
    <title>프로필 검색</title>
    <link rel="stylesheet" type="text/css" href="static/search_style.css">
    <!--서버에서 돌릴 때는 static/search_style.css-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
    <script>
        window.onload = listing("/profilelist");
        //type="number"일 때 글자수 세기
        // function numberMaxLength(e) {
        //     if (e.value.length > 11) {
        //         e.value = e.value.slice(0, 11);
        //     }
        // }
        //input에 한글만... 부탁합니다제발
        // var name = document.querySelector('#name_search');
        // var onlyKorean = function () {
        //     var pattern = /[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"'\\]/g;
        //     this.value = this.value.replace(pattern, '');
        // };
        // name.addEventListener('keypress', onlyKorean);

        function enterName() {
            if (window.event.keyCode == 13) {
                searchWithName();
            }
        }
        function enterPhone() {
            if (window.event.keyCode == 13) {
                searchWithPhone();
            }
        }
        function searchWithName() {
            let search_name = $('#name_search').val();
            let baseUrlString = "/profilelist";
            if (search_name) {
                baseUrlString = baseUrlString + '?name=' + search_name;
            }
            listing(baseUrlString);
        }
        function searchWithPhone() {
            let search_name = $('#phone_search').val();
            let baseUrlString = "/profilelist";
            if (search_name) {
                baseUrlString = baseUrlString + '?phonenumber=' + search_name;
            }
            listing(baseUrlString);
        }

        function listing(urlString) {
            // 1. 리뷰 목록을 서버에 요청하기
            // 2. 요청 성공 여부 확인하기
            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
            $.ajax({
                type: "GET",
                url: urlString,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let profiles = response['profiles'];
                        $('#box').html('');
                        for (let i = 0; i < profiles.length; i++) {
                            make_card(profiles[i]['name'], profiles[i]['birthday'], profiles[i]['phonenumber'], profiles[i]['_id']);
                        }
                        // input.val=null;
                        // $('#name_search').val(Default Value);
                        // $('#phone_search').val(Default Value);
                        // $('#name_search').html('');
                        // $('#phone_search').html('');
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                }
            })
        }
        function make_card(name, birthday, phonenumber, userID) {
            let temp_html = `<div class="search_box" onclick="window.location.href = '/giftprofile?id=${userID}'">
                
                <div class="content">
                    <div class="name">
                        <div class="name_text">${name}</div>
                    </div>
                    <div class="incontent">
                        <img src='static/no_profile.png' style="margin:20px;">
                        <table class="search_table">
                            <tr>
                                <td>생일:</td>
                                <td class="gray">${birthday}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>`;
            $('#box').append(temp_html);
        }
    </script>

</head>

<body>
    <div class="navi">
        <div class="box_wrapper">
            <div class="input_box"></div>
            <div>
                <a href="">
                    <img class="logo" src='static/logo2.png'>
                </a>
            </div>
            <div class="wish">위시리스트 검색</div>
            <div class="one_search">
                <label class="search_explain">닉네임으로 검색</label>
                <input placeholder="닉네임으로 검색하기" id="name_search" type="text" onkeyup="enterName()" maxlength="4">
                <button class="search_button" onclick="searchWithName()"><img src="static/search_button.png"></button>
            </div>
            <div class="one_search">
                <label class="search_explain">전화번호로 검색</label>
                <input placeholder="-하이픈 없이 번호로 검색하기" id="phone_search" type="text" onkeyup="enterPhone()"
                    maxlength="11"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                <button class="search_button" onclick="searchWithPhone()"><img src="static/search_button.png"></button>
            </div>
        </div>
    </div>
    </div>
    <div class="formobile"></div>
    <div class="search_bar">
        <div class="box_wrapper" id="box">
        </div>
    </div>
    <a class="wish_button" href="registration" style="text-decoration:none">
        <div>내 위시리스트 등록</div>
    </a>
</body>

</html>